@model IQueryable<Node>
<!--
<h4 class="bg-primary text-white text-center p-2">MVC - Level 1 - Anyone</h4>
-->
<div class="text-center">
    <h6 class="p-2">
        There are @Model.Count() books.
    </h6>
</div>
