@model Node
<tr>
    <td>
        <a class="btn btn-sm btn-info text-white" asp-action="Details"
           asp-controller="Books" asp-route-id="@Model.NodeId">
            View
        </a>
    </td>
    <td>@Model?.Heading</td>
    @if(Model?.NodeText.Length <= 100)
    {
        <td>@Model?.NodeText</td>
    }
    else
    {
        <td>@Model?.NodeText.Substring(0,100) ...</td>
    }
</tr>