@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    string dashboardRole = Configuration["Dashboard:Role"] ?? "Dashboard";
}
<nav class="nav">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole(dashboardRole))
        {
            <a asp-page="/Identity/Admin/Dashboard"
               class="nav-link text-white bg-dark">
                @User.Identity.Name
            </a>
        }
        else
        {
            <a asp-page="/Identity/Index" class="nav-link text-white bg-dark">
                @User.Identity.Name
            </a>
        }
        <a asp-page="/Identity/SignOut" class="nav-link text-white bg-dark">
            Sign Out
        </a>
    }
    else
    {
        <a asp-page="/Identity/SignIn" class="nav-link text-white bg-dark">
            Sign In/Register
        </a>
    }
</nav>