<div class="text-center m-2">
    <!--
    <a class="btn btn-secondary btn-sm bg-dark" asp-controller="Books" asp-action="Index">Books</a>
    -->
    <a class="btn btn-secondary btn-sm bg-dark" asp-page="/Identity/Admin/Dashboard">Admin</a>
    <a class="btn btn-secondary btn-sm bg-dark" asp-page="/Identity/Index">User</a>
</div>
