@page "/pages/Landing"
@model Books.Pages.LandingModel
<h4 class="bg-info text-white text-center p-2">Pages - Level 1 - Anyone</h4>
<div class="text-center">
    <h6 class="p-2">
        The DB contains @Model.DbContext.Nodes.Count() nodes.
    </h6>
</div>
