@model IQueryable<Node>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="bg-primary text-white text-center p-2">MVC Level 3 - Administrators</h4>
</div>
<h6 class="bg-secondary text-white text-center m-2 p-2">Books</h6>
<form asp-action="NewBook" asp-controller="Admin" method="get">
    <button class="navbutton, btn, btn-info" type="submit">New Book</button>
</form>
<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Book</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model ?? Enumerable.Empty<Node>())
            {
                <!--<partial name="_BookRowPartial" model="p" />-->
                <tr>
                    <td>
                        <a class="btn btn-sm btn-info text-white" asp-action="Details"
                       asp-controller="Books" asp-route-id="@p.NodeId">
                            View
                        </a>
                    </td>
                    <td>@p?.Heading</td>
                    <td>@p?.NodeText</td>
                    <td>
                        <form method="post">
                            <a class="btn btn-sm btn-warning" asp-action="edit"
                           asp-route-id="@p.NodeId">Edit</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

